{% extends 'base.html' %}
{% block content %}
<script>

		function sendData()
		{
			var message = document.getElementById('message').value;
			document.getElementById('message').value = ""
			var data = new FormData()
			data.append("input", message)
			const request = new XMLHttpRequest();
            request.open('POST', `/send`, true);
			request.onload = () => {
				const response = request.responseText;
				document.getElementById('message-container').innerHTML = "Your trash is: " + response;
			};
			request.send(data)
		}
		window.addEventListener('load', function () {
			document.getElementById('send-message').onkeydown = function(e){
					   if(e.keyCode == 13){
						 sendData();
					   }
					};
			document.getElementById('message').onkeydown = function(e){
			   if(e.keyCode == 13){
				   sendData();
			   }
			};
		})


	</script>
	<div class="text-center text-white d-flex rounded flex-column bg_img h-100">

		<div class="my-auto mx-auto">
		<h1 class="p-4 mx-auto text-white shadow">Oscar the Trash Sorter</h1>
      	<p class="lead fw-normal solid mx-5 my-4 shadow">Categorizes trash into Compost, Recycle, or Incinerate</p>
			<div class="w-75 text-center align-content-center mx-auto">
				<input class="w-100 messagebox text-center inp rounded-pill py-3 text-white" type="text" placeholder="Trash item" name="message" id="message">
				<button class="btn btn-primary px-auto px-4 display-6 py-1 my-3" style="background-color:#3DA34C" id="send-message" onclick="sendData()"> Classify</button>
				<p class="lead text-white px-3 py-2 bg-dark1 rounded-pill" id="message-container">Your trash is: </p>
			</div>
		</div>

		</div>

{% endblock %}
